<div class="mode-result row">
    <div class="mode-heading col-xs-12">
         <strong>{{getTime checkpoints.0.latest-time}}</strong> Check out bike at {{endLoc}}
    </div>
    <div class="mode-content bike vendor col-xs-12">
        <div class="mode-icon">
            {{{iconBlock type}}}
        </div>
        <div class="mode-description bike">
            <p>{{startLoc}} </p>
            <p>{{additional-info.num_bikes_available}} bikes at dock</p>
        </div>
    </div>
</div>