<div class="mode-result row">
    <div class="mode-heading col-xs-12">
         <strong>{{getTime checkpoints.0.latest-time}}</strong> Check in bike at {{endLoc}}
    </div>
    <div class="mode-content vendor bike col-xs-12">
        <div class="mode-icon">
            {{{iconBlock type}}}
        </div>
        <div class="mode-description bike">
            <p>{{startLoc}}</p>
            <p>{{additional-info.num_docks_available}} docks avaialable</p>
        </div>
    </div>
</div>