<div class="mode-result row">
    <div class="mode-heading col-xs-12">
         <strong>{{getTime checkpoints.0.latest-time}}</strong> take Lyft to {{endLoc}}
    </div>
    <div class="mode-content vendor col-xs-12">
        <div class="mode-icon">
            {{{iconBlock type}}}
        </div>
        <div class="mode-description">
            <p>{{round length}} miles - {{noDecimal lowerbound}} mins - cost ${{absVal cost}} </p>
        </div>
    </div>
</div>