<div class="mode-result row">
    <div class="mode-heading col-xs-12">
         <strong>{{getTime checkpoints.0.latest-time}}</strong> Park at {{endLoc}}
    </div>
    <div class="mode-content park col-xs-12">
        <div class="mode-icon">
            {{{iconBlock type}}}
        </div>
        <div class="mode-description">
            <p>{{noDecimal lowerbound}} mins to park - cost ${{absVal cost}} </p>
        </div>
    </div>
</div>